<div class="text-center notice">
  <h3 *ngIf="pagination.totalItems > 1">{{likesParam === 'Likers' ? pagination.totalItems + ' people' + ' like me' : 'I ' + 'like ' + pagination.totalItems + ' people'}}</h3>
  <h3 *ngIf="pagination.totalItems == 1">{{likesParam === 'Likers' ? pagination.totalItems + ' person' + ' likes me' : 'I ' + 'like ' + pagination.totalItems + ' person'}}</h3>
  <h3 *ngIf="pagination.totalItems < 1">{{likesParam === 'Likers' ? 'No one likes me' : 'I like no one'}}</h3>
</div>

<div class="container mt-3">

<div class="row">
  <div class="btn-group">
    <button class="btn btn-primary" [(ngModel)]="likesParam" btnRadio="Likers" (click)="loadUsers()">Followers</button>
    <button class="btn btn-primary" [(ngModel)]="likesParam" btnRadio="Likees" (click)="loadUsers()">Following</button>
  </div>
</div>

<br>

<div class="row m-4" *ngIf="users.length == 0">
  <div class="notice-list">
    <h3>Nothing to be found ...</h3>
  </div>
</div>

<div *ngIf="users.length > 0" class="row content">
  <div *ngFor="let user of users" class="col-sm-6 col-md-4 col-lg-4 col-xl-2">
    <app-member-card [user]="user"></app-member-card>
  </div>
</div>

</div>

<div class="d-flex justify-content-center pagination">
<pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
  (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
  >

</pagination>
</div>