<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet... say hi me using the message box below</p>
    </div>
      <div id="chat-message-list" *ngFor="let message of messages">
        <div *ngIf="message.senderId != recipientId" class="message-row you-message">
          <div class="message-content">
            <div class="message-text">{{message.content}}</div>
            <div class="message-time">{{message.messageSent | timeago}}</div>
          </div>
        </div>
        <div *ngIf="message.senderId == recipientId" class="message-row other-message">
          <div class="message-content">
            <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
            <div class="message-text">{{message.content}}</div>
            <div class="message-time">{{message.dateRead | timeago}}</div>
          </div>
        </div>
      </div>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <input type="text" 
        [(ngModel)]="newMessage.content"
        name="content"
        required
        class="form-control input-sm" placeholder="send a private message">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>