*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.navbar{
    padding: 20px;
    height: 50px;
    font-size: 14px;
    background: rgb(10, 30, 59);
}

.navbar .container{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
.navbar form .form-control{
    padding: 5px 10px;
    border: none;
}
.navbar form .btn{
    padding: 5px 10px;
}
.nav-item{
    margin-right: 10px;
    padding: 6px;
}
.nav-item a{
    color: rgb(255, 255, 255);
}
.nav-item:hover{
    color: rgb(246, 246, 246);
}
.nav-item.active{
    background:rgb(40, 190, 155);
    border-radius: 2px;
}

.dropdown{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar .profile-img{
    max-height: 50px;
    border: none;
    display: inline;
    border-radius: 50%;
    padding: 6px;
}
.dropdown-toggle {
    cursor: pointer;
}

.dropdown-item{
    padding: 10px 20px;
    margin: 0 !important;
    cursor: pointer;
    background: rgb(40, 190, 155);
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.dropdown-item:hover{
    background: rgb(32, 173, 140);
    color: rgb(255, 255, 255);
}
