*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.navbar{
    padding: 20px;
    height: 50px;
    font-size: 14px;
}

.navbar .container{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
.navbar form .form-control{
    padding: 5px 10px;
}
.navbar form .btn{
    padding: 5px 10px;
}

.dropdown{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-item{
    padding: 10px 20px;
    margin: 0 !important;
    cursor: pointer;
    background: rgb(49, 60, 83);
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.dropdown-item:hover{
    background: rgb(74, 88, 102);
    color: rgb(255, 255, 255);
}