
.container{
    width: 70%;
}
.img-thumbnail{
    margin: 25px auto;
    width: 160px;
    height: 160px;
}
.card{
    box-shadow: 0px 2px 10px rgb(219, 219, 219);
    border: none;
    border-radius: 10px;
}
.card-body{
    padding: 0 25px;
}

.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
    border-radius: 10px;
}

.tab-panel{
    background: white;
    box-shadow: 0px 2px 10px rgb(219, 219, 219);
    border: none;
    border-radius: 10px;
    padding-bottom: 20px;
}

.title h4{
    font-weight: bold;
}

.ngx-gallery { 
    display: inline-block; 
    margin: 0 auto;
    margin-top: 10px; 
    align-content: center;

}

