<div class="text-center notice" >
  <h3 *ngIf="pagination.totalItems > 1">{{ pagination.totalItems }} results found</h3>
  <h3 *ngIf="pagination.totalItems == 1">{{ pagination.totalItems }} result found</h3>
</div>

<div class="container filter-bar">
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
    <div class="form-group">
      <label for="minAge">Age from</label>
      <input
        type="number"
        class="form-control ml-1"
        style="width: 70px;"
        id="minAge"
        [(ngModel)]="userParams.minAge"
        name="minAge"
      />
    </div>

    <div class="form-group px-2">
      <label for="maxAge">to</label>
      <input
        type="number"
        class="form-control ml-1"
        style="width: 70px;"
        id="maxAge"
        [(ngModel)]="userParams.maxAge"
        name="maxAge"
      />
    </div>

    <div class="form-group px-2">
      <label for="gender">Show: </label>
      <select
        class="form-control ml-1"
        style="width: 130px;"
        id="gender"
        [(ngModel)]="userParams.gender"
        name="gender"
      >
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px;">
      Apply Filter
    </button>
    <button
      type="button"
      class="btn btn-info"
      (click)="resetFilters()"
      style="margin-left: 10px;"
    >
      Reset Filter
    </button>

    <div class="col status-filter" >
      <div class="btn-group float-right">
        <button
          type="button"
          name="orderBy"
          class="btn btn-primary"
          [(ngModel)]="userParams.orderBy"
          (click)="loadUsers()"
          btnRadio="lastActive"
        >
          Last active
        </button>
        <button
          type="button"
          name="orderBy"
          class="btn btn-primary"
          [(ngModel)]="userParams.orderBy"
          (click)="loadUsers()"
          btnRadio="created"
        >
          Newest
        </button>
      </div>
    </div>
  </form>
  <br />

  <div class="row"> 
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
